{{ partial "site-header.html" . }}
<div class="bgvideo2"> </div>
<div class="contentpage">
  <div class="container-5 w-container"><a href="javascript: history.go(-1)" class="backlink"><span class="red">←</span> Go Back</a>
    <h1 class="headingartist glitch" data-text="{{ .Params.title }}">{{ if eq .Title "ArtScience"}}{{ .Title}} Night {{else}} {{.Title}}{{end}}<br>
    </h1>
    <div class="artist-type"> {{ $day := .Params.day }}
      {{ range $day }}
      {{.}}
      {{end}} </div>
	        <h2 class="intro-pages venue">{{ .Params.introtext | markdownify }}</h2>
    <div class="block-editions"> {{range .Params.blockcontent}}
      <div class="flex gnpro">
        <div class="block-50 img-blend"><img src="/thumbs/images{{.picture}}" alt="" class="imgvenue"></div>
        <div class="block-50">
          <p class="white">{{.text}} </p>
        </div>
      </div>
      {{ end }} </div>
    <div class="block-editions media" style="display:block">
      <h2 class="room-heading">Program<br>
      </h2>
      {{ $title := .Title}}
		{{ if eq $title "Nights" }}
    {{ range .Site.Pages}}
		{{ if or (in .Params.categoryB "Nocturnes") (in .Params.category "Nocturnes") }}

        <a href="{{ .Permalink }}" class="lineup w-inline-block show" data-ix="lineupartist">
          <h2 class="lineup-heading" style="text-transform: capitalize">{{ .Params.name }}</h2>
          <div class="arti-type lineup2">{{ .Params.perf }}</div>
          </a> 
          {{end}}{{end}}
      {{end}} 
		
    {{ if eq $title "Exhibition" }}
    {{ range .Site.Pages}}
		{{ if or (in .Params.categoryB "Exhibition") (in .Params.category "Exhibition") }}

        <a href="{{ .Permalink }}" class="lineup w-inline-block show" data-ix="lineupartist">
          <h2 class="lineup-heading" style="text-transform: capitalize">{{ .Params.name }}</h2>
          <div class="arti-type lineup2">{{ .Params.perf }}</div>
          </a> 
          {{end}}{{end}}
      {{end}} 
	 
		
    {{ if eq $title "ArtScience" }}
		    {{ range .Site.Pages}}
		{{ if or (in .Params.categoryB "ArtScience") (in .Params.category "ArtScience") }}

        <a href="{{ .Permalink }}" class="lineup w-inline-block show" data-ix="lineupartist">
          <h2 class="lineup-heading" style="text-transform: capitalize">{{ .Params.name }}</h2>
          <div class="arti-type lineup2">{{ .Params.perf }}</div>
          </a> 
          {{end}}{{end}}
      {{end}} 
		
    {{ if eq $title "GN PRO" }}
    {{ range .Site.Pages}}
		{{ if or (in .Params.categoryB "GN Pro") (in .Params.category "GN Pro") }}

        <a href="{{ .Permalink }}" class="lineup w-inline-block show" data-ix="lineupartist">
          <h2 class="lineup-heading" style="text-transform: capitalize">{{ .Params.name }}</h2>
          <div class="arti-type lineup2">{{ .Params.perf }}</div>
          </a> 
          {{end}}{{end}}
      {{end}} 
	 
	</div>
    {{.Content}} <a href="javascript: history.go(-1)" class="backlink"><span class="red">←</span> Go Back</a> </div>
</div>
{{ partial "site-footer.html" . }}