{{ partial "site-header.html" . }}
<div class="bgvideo2"> </div>
<div class="contentpage">
  <div class="contentpage">
    <div class="block-lineup">
      <h1 class="headingv2 glitch" data-text="{{ .Params.title }}">Line-Up<br>
      </h1>
      <br>
		<div style="display:inline-flex; flex-direction: row;">
		  <div>
        <label for="selectday" style="color:white;font-weight: 300; display: block;">Filter by Day</label>
        <select class="filterselect" id="selectday" onchange="filterSelection(this.value, 'selectcateg')">
          <option value='all'>All</option>
          <option value='Thursday'>Thursday</option>
          <option value='Friday'>Friday</option>
          <option value='Saturday'>Saturday</option>
          <option value='Sunday'>Sunday</option>
          <option value='Monday'>Monday</option>
			<option value='Exhibition'>Ongoing exhibition</option>

	
			  </select>	
       </div>
      <div>
        <label for="selectcateg" style="color:white;font-weight: 300;">Filter by Category</label>
        <select class="filterselect" id="selectcateg" onchange="filterSelection('selectday', this.value)">
          <option value='all'>All</option>
          <option value='Nocturnes'>Nights</option>
          <option value='Exhibition'>Exhibition</option>
<!--<option value='ArtScience'>ArtScience Night</option>-->
          <option value='GN Pro'>GN PRO</option></select>
      </div>
    </div>
		
      {{ range .Pages  }} <a style="display: block;" href="{{ .Permalink }}" class="filterDiv lineup w-inline-block {{ .Params.day }} {{with .Params.blabla }} {{delimit . ' '}} {{end}} {{ .Params.category }} {{with .Params.categoryB}}+ {{ delimit . ','}} {{end}}" data-ix="lineupartist"><div class="imgartist"><img class="lozad" data-src="/compressed/images{{ .Params.picture }}" src="/compressed/images{{ .Params.picture }}"  alt="{{ .Params.name }}" width="600" height="600"></div>
      <div class="testBlock">
        <h2 class="lineup-heading">{{ .Params.name }} 
        <span class="arti-type lineup2"><sup >{{ if eq .Params.perf "A/V"}}
          A/V SHOW{{with .Params.categoryB }}, {{delimit . ' '}} {{end}}
          {{ else }}
            {{ .Params.perf }}{{with .Params.categoryB }}, {{delimit . ' '}} {{end}}
            {{end}}
        </sup></span></h2>
        <!-- <div class="arti-type lineup2"> -->
      
       
		  
    </div>
      </a> {{end}}
	    <h2 class="room-heading" style="margin-top:50px;">Ongoing Exhibition<br></h2>
				{{range where .Site.Pages ".Params.day" "Exhibition"}}
		  	
				<div class="block-artist">
<!--                <div class="hours">18:00-22:00</div>-->
                <!-- <div class="html-embed-2 w-embed"><br></div> -->
                <a href="{{ .Permalink}}" class="w-inline-block">
                  <h3 class="artistname">{{.Params.name}}
                    <div class="arti-type lineup2"><sup>{{.Params.perf}}</sup></div>
                  </h3>
                </a>
              </div>{{end}}
	  </div>
	  
  </div>
  <div class="w-container">{{.Content}}</div>
  {{ partial "cta.html" . }} </div>
{{ partial "site-footer.html" . }}