{{ partial "site-header.html" . }}
<div class="bgvideo2">
  </div>
  <div class="contentpage">
	   <div class="contentpage">
    <div class="block-lineup">
      <h1 class="headingv2 glitch" data-text="{{ .Params.title }}">Line-Up<br></h1>
		
		
		{{ range .Pages  }}

<a href="{{ .Permalink }}" class="lineup w-inline-block" data-ix="lineupartist"><img src="{{ .Params.picture }}" alt="" class="imgartist"><h2 class="lineup-heading">{{ .Params.name }}</h2><div class="arti-type lineup2">{{ .Params.perf }}</div></a>
		
		
		{{end}}
		   
		   </div>
  </div>
    <div class="w-container">{{.Content}}</div>
	  {{ partial "cta.html" . }}

	 </div>

{{ partial "site-footer.html" . }}