{{ partial "site-header.html" . }}
<div class="bgvideo2">
  </div>
   <div class="contentpage">
    <div class="container-5 w-container"><a href="javascript: history.go(-1)" class="backlink"><span class="red">←</span> Go Back</a>
      <h1 class="headingartist">{{.Params.name}}<br></h1>
      <div class="artist-type">
		  
		  {{.Params.day}}</div>
      <div class="date-artist">
		  {{ if eq .Params.perf "Exhibition"}}
		  THURSDAY 7 -> MONDAY 11
		  {{ else if eq .Params.perf "A/V"}}
		  A/V SHOW
		{{ else }}
		  {{ .Params.perf }}
		  
		
		  {{end}}
		</div>
      <div class="block-editions">
        <div class="flex">
          <div class="block-50 img-blend"><img src="{{ .Params.picture }}" width="480" alt="" class="imgartist-page"></div>
          <div class="block-50">
            <p class="white">{{.Params.description }}</p>
            <a href="" class="linkartist">More info<br></a>
          </div>
        </div>
      </div>
    <!--  <div class="block-editions media">
        <h2 class="room-heading">Media<br></h2>
        <div class="flex">
          <div class="block-50"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Image/assets/placeholder.60f9b1840c.svg" width="480" alt=""></div>
          <div class="block-50"></div>
        </div>
      </div>--><a href="javascript: history.go(-1)" class="backlink"><span class="red">←</span> Go Back</a></div>
  </div>

{{ partial "site-footer.html" . }}
