.glitch {
  position: relative;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1); }
  .glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #1728c7;
    color: white;
    clip: rect(0, 900px, 0, 0);
    width: 100%;
    right: 0;
    z-index: 3; }
  .glitch::before {
    left: 7px;
    animation: glitch-effect 3s infinite linear alternate-reverse; }
  .glitch::after {
    left: 3px;
    animation: glitch-effect 2s infinite linear alternate-reverse; }

@keyframes glitch-effect {
  0% {
    clip: rect(55px, 9999px, 26px, 0); }
  20% {
    clip: rect(75px, 9999px, 4px, 0); }
  40% {
    clip: rect(30px, 9999px, 89px, 0); }
  60% {
    clip: rect(53px, 9999px, 1px, 0); }
  80% {
    clip: rect(18px, 9999px, 98px, 0); }
  100% {
    clip: rect(6px, 9999px, 46px, 0); } }
