.glitch {
  position: relative;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1); }
  .glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #1728c7;
    color: white;
    clip: rect(0, 900px, 0, 0);
    width: 100%;
    right: 0;
    z-index: 3; }
  .glitch::before {
    left: 7px;
    animation: glitch-effect 3s infinite linear alternate-reverse; }
  .glitch::after {
    left: 3px;
    animation: glitch-effect 2s infinite linear alternate-reverse; }

@keyframes glitch-effect {
  0% {
    clip: rect(57px, 9999px, 71px, 0); }
  20% {
    clip: rect(21px, 9999px, 46px, 0); }
  40% {
    clip: rect(6px, 9999px, 92px, 0); }
  60% {
    clip: rect(21px, 9999px, 55px, 0); }
  80% {
    clip: rect(63px, 9999px, 57px, 0); }
  100% {
    clip: rect(94px, 9999px, 88px, 0); } }
