{{ partial "site-header.html" . }}
<div class="bgvideo2">
  </div>
  <div class="contentpage">
    <div class="w-container">
      <h1 class="headingv2 glitch" data-text="{{ .Params.title }}">{{ .Params.title }}<br></h1>
<!--      <h2 class="intro-pages venue">{{ .Params.introtext }}</h2>-->
    </div>
    <div class="w-container">
	  <!--<div class="block-partners">
		  {{range .Params.partners }}
		  <a href="{{.url}}" target="_blank"><img src="{{.logo}}" alt="{{.name}}" class="imgpartner"></a>
		  {{ end}}
		  
		</div>-->{{ .Content }}
	  {{ partial "cta.html" . }}

	 </div>

{{ partial "site-footer.html" . }}
