  <div data-poster-url="/videos/SPLITSmp4-poster-00001.jpg" data-video-urls="videos/SPLITSmp4-transcode.mp4,videos/SPLITSmp4-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-copy w-background-video w-background-video-atom pages"><video autoplay="" loop="" style="background-image:url(&quot;videos/SPLITSmp4-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true"><source src="/videos/SPLITSmp4-transcode.mp4" data-wf-ignore="true"><source src="/videos/SPLITSmp4-transcode.webm" data-wf-ignore="true"></video></div>    
<div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" class="navbar w-nav"><a href="index.html" class="brand w-nav-brand w--current"><img src="/images/logo.svg" alt="" class="image"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="container-3 w-container"><a href="lineup.html" class="nav-link w-nav-link">Line-Up</a>
          <div data-delay="0" class="nav-link w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon-2 w-icon-dropdown-toggle"></div>
              <div class="text-block-5">PROGRAM</div>
            </div>
            <nav class="dropdown-list w-dropdown-list"><a href="programma.html" class="ddlink w-dropdown-link">SCHEDULE</a><a href="#" class="ddlink w-dropdown-link">EXHIBITION</a><a href="gnpro.html" class="ddlink w-dropdown-link">GN PRO</a><a href="#" class="ddlink w-dropdown-link">ARTSCIENCE NIGHT</a></nav>
          </div><a href="the-venue.html" class="nav-link w-nav-link">THE VENUE</a><a href="partners.html" class="nav-link w-nav-link">PARTNERS</a><a href="previous-editions.html" class="nav-link w-nav-link">previous editions</a><a href="practical.html" class="nav-link w-nav-link">PRACTICAL</a></div>
      </nav>
      <div class="text-block"><strong class="bold-text">Bourse<br>BRUSSELS</strong><br><br>7 › 11<br>NOVEMBER<br>2019</div>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>